<div class="row">
    <h1 class="text-light">Hard & Soft skills</h1>
    <div class="col-lg-2">
        <button type="button" routerLink= "/newskill" class="btn btn-dark" *ngIf="isLogged" >Nueva Skill</button>
        <br>
        <br>
    </div>

    <div class="text-center col-sm-3 col-md-3 col-lg-3 circulo" *ngFor="let skill of skill">
        <circle-progress
            [percent]="(skill.porcentaje)"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#784592'"
            [innerStrokeColor]="'#C367F0'"
            [animation]="true"
            [animationDuration]="600"
            [showUnits]="false"
            [showSubtitle]="false"
            [showTitle]="true"
            [imageSrc]="''"
            [title]="(skill.nombre)"
            [titleColor]="'#C367F0'"
            [showImage]="false"
            [imageHeight]="50"
            [imageWidth]="50"
        ></circle-progress>

        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-dark" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-fill"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash-fill"></i></button>
            </td>
        </div>
    </div>
</div>
        
