<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - 
            <h3>(years)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit et animi doloribus deserunt ex? Laboriosam voluptatum numquam asperiores repellendus, voluptas ratione aut modi ipsam sunt atque suscipit placeat inventore? Doloremque?</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - 
            <h3>(years)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit et animi doloribus deserunt ex? Laboriosam voluptatum numquam asperiores repellendus, voluptas ratione aut modi ipsam sunt atque suscipit placeat inventore? Doloremque?</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1> - 
            <h3>(years)</h3></li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit et animi doloribus deserunt ex? Laboriosam voluptatum numquam asperiores repellendus, voluptas ratione aut modi ipsam sunt atque suscipit placeat inventore? Doloremque?</p>
        </ul>
    </div>
</div>
